/* @font-face {
    font-family: mera;
    src: url(./assets/Noto_Serif/static/NotoSerif-Bold.ttf)
}
 body{
    font-family: mera;
 } */

body{
    background-color: #011C27;
 }


.country{
    background-color: #679cec;
    height: 30px;
    width: 80px;
    border-radius: 20px;
}

.box1 {
    height:17rem;
    width: 96%;
    border: 1px solid rgb(255, 255, 255);
    border: transparent;
    border-radius: 20px;
    padding: 15px;
    background-color: #03254E;
    color: #ffffff;

}
#img{
    height: 120px;
    width: 150px;
}
.box2 {
    background-color:#545677;;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.box {
    background-color: #679cec;
    border: 1px solid #ddd;
    border: transparent;
    border-radius: 15px;
    text-align: center;

    padding: 20px;
    color: #ffffff;
}

@media (max-width: 576px) {
    .box {
        margin-bottom: 10px;
    }
}
.search{
   
    align-items: center;
    text-align: center;
    color: #ddd;
}


.search-img{
    height:500px;
}
.notFound{

    align-items: center;
    text-align: center;
    color: #ddd;
}


.notfound-img{
    margin-top: 40px;
    height:400px;
} 

.spacing{
    gap: 50%;
}
.box3 {
    color: #ffffff;
    background-color:transparent;
    padding: 20px;
    border-radius: 20px;
    
}

.box4 {
    background-color: #679cec;
    border: 1px solid #ddd;
    border: transparent;
    border-radius: 15px;
    padding: 20px;
    color: #ffffff;
}
#imgd{
    height: 60px;
    width: 70px;
}
#imgm{
    height: 60px;
    width: 70px;
}
#imgme{
    height: 60px;
    width: 70px;
}
#imgc{
    height: 60px;
    width: 70px;
}
.cs{
    padding: 13px;
    
    
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    border: 2px solid #f3f3f3;
    color: #ffffff !important;
    font-size: 15px;
    width: 500px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.btn{
    margin-top: 5px;
    padding: 9px;
}
